body {
color: #757575;
font-family: Helvetica, Verdana, Arial;
margin:0;
font-size:0.75em
}

#mantel {
width:100%;
height:100%;
background-color:white;
}

#header {
border: 1px solid lightgray;
height:5%;
padding: 10px;
margin-bottom:10px;
overflow: hidden;
font-size: 36px;
}

#menu {
border: 1px solid lightgray;
height:3%;
padding: 5px;
margin:auto;
overflow: hidden;
}

#footer {
border: 1px solid lightgray;
height:2%;
padding: 5px;
font-size: 12px;
overflow: hidden;
margin-top:10px;
}

#content {
border: 1px solid lightgray;
height:69%;
padding:10px;
margin:0px 0;
margin-top:10px;
margin-bottom:10px;
}

#sidebar {
border: 1px solid lightgray;
margin-right:-11px;
margin-top:-11px;
min-width: 15%;
height: 100%;
padding: 10px;
float: right;
}

#menu ul {
float:left;
vertical-align:middle;
list-style-type: none;
margin: 0;
padding: 0;
}

#menu li {
display:inline;
}

#menu li a {
text-decoration:none;
color:#757575;
font-size:22px;
padding:0 25px;
text-transform:uppercase;
}

#login label {
width:70px;
float:left;
margin-top:4px;
}

#login input[type=submit]{
float:right;
}

.box {
border:1px solid lightgray;
padding: 10px;
}

.box h3 {
line-height:0px;
}

div {
background-color: #F7F8FF;
display: block;
}

.message-error {
padding:10px;
margin:5px;
border:1px solid #FF5E5E;
color:#BA0000;
background-color:#FFE8E8;
max-width:500px;
text-align:left;
}

.message-success{
padding:10px;
margin:5px;
border:1px solid #5EFF5E;
color:#00BA00;
background-color:#E8FFE8;
max-width:500px;
text-align:left;
}

.message-message {
padding:10px;
margin:5px;
color: #BABA00;
border:1px solid #FFFF5E;
background-color:#FFFFE8;
max-width:500px;
text-align:left;
}

.login {
width:17%;
margin:auto;
height:240px;
color:#CCB100;
}

.login input[type="text"], .login input[type="password"] {
font-size:26px;
width:100%;
border:1px solid lightgray; 
color:#B39B00;
}

.login input[type="submit"] {
font-size:26px;
width:100%;
background-color:#FFF29E;
border:1px solid lightgray;
margin-bottom:10px !important;
color:#B39B00;
}

.tooltip {
	display:none;
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;	
}

#pages {
font-size:26px;
width:605px;
}

#pages textarea {
width:600px;
}

#titletext {
font-size:26px;
width:100%;
color:lightgray;
}

#submitbox {
border:1px solid lightgray;
width:200px;
height:100px;
background-color:#eeeeee;
text-align:center;
padding:10px;
}

#submitbox span {
margin-left:0px;
float:left;
}

#submitbox input[type="submit"] {
width:100%;
border:1px solid lightgray;
background-color:#ddd;
margin-top:10px;
}

table#pages {
border:1px solid black;
font-size:12px;
border-collapse:collapse;
width:82%;
margin-left:10px;
}

table#pages td {
border:1px solid black;
padding:5px;
}

table#pages tr>td:first-child {
width:60px;
text-align:center;
}

table#pages tr>td:last-child {
width:60px;
text-align:center;
}

table#users {
border:1px solid black;
font-size:12px;
border-collapse:collapse;
width:82%;
margin-left:10px;
}

table#users td {
border:1px solid black;
padding:5px;
}

table#users tr>td:first-child {
width:40px;
text-align:center;
}

table#users tr>td:last-child {
width:40px;
text-align:center;
}

table#user_info {
font-size:12px;
border:none;
margin:0;
padding:0
}

table#user_info tr>td:first-child {
text-align:right;
}